<mat-tab-group>
  <mat-tab label="Custom Pokedoku">
    <div class="mx-auto align-items-end h-100 grid-container" style=" height: 100%;">
    <mat-grid-list cols="4" rowHeight="1:1" gutterSize="1px">
      <!-- on va faire une boucle for sur pokemons -->
      <mat-grid-tile *ngFor="let pokemon of pokemons; let index = index" class="pkmn-tile tile" style="background-image: url({{pokemon.url}});" id="tile-{{index}}" >
        
        <div *ngIf="pokemon.type != 'custom' " class="d-flex align-self-end text-bottom press-start rounded ">
          {{pokemon.name}}   
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</mat-tab>

</mat-tab-group>