.tile{
   background-size:auto;
   background-position: center;
   background-repeat: no-repeat;
}
.centered-and-offset {
   position: relative; /* Or absolute, depending on your layout needs */
   left: 50%; /* Center horizontally */
   transform: translate(-50%, -50%); /* Adjust the positioning to truly center */
   margin-left: -100px; /* Apply negative margin to offset to the left */
   margin-top: -100px;  /* Apply negative margin to offset to the top */
 }
 
::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-nav-bar  {
   color: #b6b0dcc9 !important; 
}
/* --mdc-tab-indicator-active-indicator-color */
::ng-deep .mat-ink-bar {
   background-color:#ee2925 !important;}

::ng-deep .mat-ink-bar {
  background-color:#dfdbdb !important;}
.background-contain {
   background-size: contain !important;
 }
 
 .background-auto {
   background-size: auto !important;
 }
 
.pkmn-tile{
   background-color: rgba(131, 119, 119, 0.767);
}
.pkmn-tile:hover,.pkmn-tile:active{
   background-color: rgba(170, 152, 152, 0.398);
}
#tile-0,#tile-1,#tile-2,#tile-3,#tile-4,#tile-8,#tile-12{
   background-size:contain;
   background-color: rgba(255, 255, 255, 0);
}

#tile-1,#tile-2,#tile-3,#tile-4,#tile-8,#tile-12{
   background-image: none !important;
}
#tile-4,#tile-8,#tile-12{
   align-self: center !important;
}


#tile-5{
   border-top-left-radius: 1rem 1rem;
}
#tile-7{
   border-top-right-radius: 1rem 1rem;
}
#tile-13{
   border-bottom-left-radius: 1rem 1rem;
}
#tile-15{
   border-bottom-right-radius: 1rem 1rem;
}

.grid-container{
   width: 32rem;
}

.d-flex.text-bottom.press-start.rounded {
   overflow-wrap: break-word;  /* Ensures that long words can be broken and wrapped to the next line */
   word-break: break-word;     /* May be used to ensure breakage between any two characters (good for very long strings without spaces) */
 }
 
 .cardPreviewImage{
   object-fit: contain;
   width: 100%; 
   background-repeat: no-repeat;
   height: 100%;
 }
 
 .bg-gif {
   
   background-size:auto;
   background-position: center;
   background-repeat: no-repeat;
   margin: .1em;
 }
 
 .text-bottom {
   color: #fff; /* Set the text color */
   text-align: center; /* Center the text horizontally */
   background-color: rgba(0, 0, 0, 0.5); /* Optional: adds readability with a semi-transparent background */
   padding-left: .3rem;
   padding-right: .3rem;
   margin-bottom: .2rem;
   width:min-content;
   line-height: normal;
   padding: .3rem;
 
 }
 .press-start {
   font-family: "Press Start 2P", system-ui;
   font-size: 50%;
 }
 .responsive-img {
   max-width: 100%;  /* Make sure the image is never wider than its container */
   height: auto;     /* Make the image's height adjust automatically to the width */
   display: block;   /* Display block to remove any unwanted space below the image */
 }
 
 
 .span-border {
   display: block; /* or inline-block */
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 
 .sudoku{
     display: block; /* or inline-block */
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 
 